@model SangataWeb.Models.ViewModel
@{
    ViewBag.Title = "Sangata | MinorSystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.UserName = @Model.User_Login.UserName;
    ViewBag.Content = "Minor Material Request";
}
@section pMain {
    <nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
         id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="icon-base bx bx-menu icon-md"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center me-auto">
                @* <div class="nav-item d-flex align-items-center">
            <span class="w-px-22 h-px-22"><i class="icon-base bx bx-search icon-md"></i></span>
            <input type="text"
            class="form-control border-0 shadow-none ps-1 ps-sm-2 d-md-block d-none"
            placeholder="Search..."
            aria-label="Search..." />
            </div> *@
                <div class="row">
                    <div class="col">
                        <a id="mainnew" title="Add New" href="#" class="btn btn-primary btn-circle ml-2 tombol">
                            <i class="fas fa-plus"></i>
                        </a>
                        @*                         <a id="mainsave" title="Save" href="#" class="btn btn-success btn-circle ml-4">
                    <i class="fas fa-save"></i>
                    </a> *@
                        <a id="mainfirst" title="Previous" href="#" class="btn btn-info btn-circle ml-4 tombol">
                            <i class="fas fa-fast-backward"></i>
                        </a>
                        <a id="mainprev" title="Previous" href="#" class="btn btn-info btn-circle ml-4 tombol">
                            <i class="fas fa-step-backward"></i>
                        </a>
                        <a id="mainnext" title="Next" href="#" class="btn btn-warning btn-circle ml-4 tombol">
                            <i class="fas fa-step-forward"></i>
                        </a>
                        <a id="mainend" title="Next" href="#" class="btn btn-warning btn-circle ml-4 tombol">
                            <i class="fas fa-fast-forward"></i>
                        </a>
                        <a id="mainfind" title="Find" href="#" class="btn btn-danger btn-circle ml-4 tombol" data-bs-toggle="modal" data-bs-target="#findData">
                            <i class="fas fa-search"></i>
                        </a>
                        @*                                     <a id="popost" title="Post" href="#" class="btn btn-success btn-circle ml-4 btn-sm">
                    <i class="fas fa-paper-plane"></i>
                    </a> *@
                    </div>
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-md-auto">

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow p-0"
                       href="javascript:void(0);"
                       data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../../../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">@Model.User_Login.UserName</h6>
                                        <small class="text-body-secondary">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="icon-base bx bx-user icon-md me-3"></i><span>My Profile</span>
                            </a>
                        </li>
                        @*                         <li>
                    <a class="dropdown-item" href="#">
                    <i class="icon-base bx bx-cog icon-md me-3"></i><span>Settings</span>
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">
                    <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 icon-base bx bx-credit-card icon-md me-3"></i><span class="flex-grow-1 align-middle">Billing Plan</span>
                    <span class="flex-shrink-0 badge rounded-pill bg-danger">4</span>
                    </span>
                    </a>
                    </li> *@
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../Home/Logout">
                                <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">

            <div class="col-md-12">
                <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
                    <div class="card theme-wizard pb-5">
                        <div class="card-header bg-body-tertiary pt-5 pb-0">
                            <ul class="nav nav-pills mb-3" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button id="tabRequest" class="nav-link active" data-wizard-step="1" data-bs-toggle="pill" data-bs-target="#form-wizard-tab1" type="button" role="tab" aria-controls="form-wizard-tab1" aria-selected="true"><span class="fas fa-asterisk me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Request</span></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button id="tabLabour" class="nav-link" data-wizard-step="2" data-bs-toggle="pill" data-bs-target="#form-wizard-tab2" type="button" role="tab" aria-controls="form-wizard-tab2" aria-selected="false"><span class="fab fa-bimobject me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Labour</span></button>
                                </li>
                                <li id="tabMaterial" class="nav-item" role="presentation">
                                    <button class="nav-link" data-wizard-step="3" data-bs-toggle="pill" data-bs-target="#form-wizard-tab3" type="button" role="tab" aria-controls="form-wizard-tab3" aria-selected="false"><span class="fab fa-bitbucket me-2" data-fa-transform="down-2 shrink-2"></span><span class="d-none d-md-inline-block fs-10">Material</span></button>
                                </li>
                                @*                         <li class="nav-item" role="presentation">
                            <button class="nav-link" data-wizard-step="4" data-bs-toggle="pill" data-bs-target="#form-wizard-tab4" type="button" role="tab" aria-controls="form-wizard-tab4" aria-selected="false"><span class="fas fa-thumbs-up me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Done</span></button>
                            </li> *@
                            </ul>
                        </div>
                        <div class="card-body py-0">
                            <div class="tab-content px-1 py-3">
                                <div class="tab-pane px-sm-3 px-md-5 active show" role="tabpanel" aria-labelledby="form-wizard-tab1" id="form-wizard-tab1">
                                    <form id="firstForm" data-wizard-form="1">
                                        <div class="card pb-5">
                                            <div class="card-body pb-0">
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="rJobOrder" class="form-label">Job Alloc No</label>
                                                            <input class="d-none" id="RepairId" value="@Model.vRepairRequest.Id" />
                                                            <input id="rJobOrder"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Order Number"
                                                                   value="@Model.vRepairRequest.rJobOrder" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="rODGRefNo" class="form-label">ODG Ref. No</label>
                                                            <input id="rODGRefNo"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="ODG Ref. No"
                                                                   value="@Model.vRepairRequest.rODGRefNo" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <label for="rProject" class="form-label">Project</label>
                                                                <select id="rProject" data-placeholder="Choose Project" data-first="3" data-two="9" class="form-select form-select-sm select2 ddmulti1 vtext" disabled>
                                                                    @* <option data-code="0" selected disabled hidden>** Choose Project **</option> *@
                                                                    <option data-code="0"></option>
                                                                    <optgroup class="def-cursor" label="No" data-city="Project Name">
                                                                        @if (Model.vProject != null)
                                                                        {
                                                                            foreach (var item in Model.vProject)
                                                                            {
                                                                                <!option data-code="@item.pName" data-city="@item.pName" value="@item.pNo" @((item.pNo == Model.vRepairRequest.rProject) ? "selected" : "")>@item.pNo</!option>
                                                                            }
                                                                        }
                                                                    </optgroup>

                                                                </select>
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <label for="rClose" class="form-label">Daily Rpt Closed</label>
                                                                <div class="form-check form-switch mb-2">
                                                                    <input class="form-check-input" type="checkbox" id="rClose" @((Model.vRepairRequest.rClose == 1) ? " checked" : "")>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="rDescription" class="form-label">Description</label>
                                                            <input id="rDescription"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Description"
                                                                   value="@Model.vRepairRequest.rDescription" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="drRefNoID" class="form-label">DR Material No</label>
                                                            <input id="drRefNoID"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="DR Material Number"
                                                                   value="@Model.vRepairRequest.drRefNoID" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="drDate" class="form-label">DR Date</label>
                                                            <input id="drDate"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="DR Date"
                                                                   value="@Convert.ToDateTime(Model.vRepairRequest.drDate).ToString("dd/MM/yyyy")" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="drOriginator" class="form-label">Order By</label>
                                                            <input id="drOriginator"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Order By"
                                                                   value="@Model.vRepairRequest.drOriginator" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="drPercent" class="form-label">Job Percentage</label>
                                                            <input id="drPercent"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Job Percentage"
                                                                   value="@Model.vRepairRequest.drPercent" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-body-tertiary pb-3">
                                                <div class="px-sm-0 px-md-0">
                                                    <ul class="pager wizard list-inline mb-0">
                                                        <li class="previous">
                                                            <button class="btn btn-link ps-0" type="button"></button>
                                                        </li>
                                                        <li class="next">
                                                            <button id="requestAdd" class="btn btn-primary px-5 px-sm-6" type="button"><span id="repairAdds">Update</span><span class="fas fa-save fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5 " role="tabpanel" aria-labelledby="form-wizard-tab2" id="form-wizard-tab2">

                                    <form data-wizard-form="2">
                                        <div class="card pb-5">
                                            <div class="card-body pb-0">
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="drtTechnician" class="form-label">Employee</label>
                                                            <input class="d-none" id="LabourID" value="0" />
                                                            <input class="d-none" id="drtItem" value="0" />
                                                            <select id="drtTechnician" data-placeholder="Choose Technical" data-first="2" data-two="3" data-three="3" data-four="3" class="form-select form-select-sm select2 ddmulti3 vtext">
                                                                @* <option data-code="0" value="" selected disabled hidden>** Choose Type **</option> *@

                                                                <option data-code="0"></option>
                                                                <optgroup class="def-cursor" label="EmpID" data-group="Group" data-code="EmpName" data-city="Tread">
                                                                    @if (Model.vTechnicianRate != null)
                                                                    {
                                                                        foreach (var item in Model.vTechnicianRate)
                                                                        {
                                                                            <option data-price="@item.trPriceRate" data-code="@item.tName" data-show="@item.tTrade" data-city="@item.trTrade" data-group="@item.rgDescription" value="@item.tID">@item.tID</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                            </select>
                                                            @*                                                             <div id="validationServer04Feedback" class="invalid-feedback">
                                                        Please select a valid Type.
                                                        </div> *@
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <label for="drtName" class="form-label">Tech Name</label>
                                                            <input id="drtName"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Technical Name" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="tTrade" class="form-label">Employee Tread</label>
                                                            <input id="tTrade"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Employee Tread" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="drtHours" class="form-label">Hours</label>
                                                            <input id="drtHours"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Hours" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="card-footer bg-body-tertiary pb-3">
                                                <div class="px-sm-0 px-md-0">
                                                    <ul class="pager wizard list-inline mb-0">
                                                        <li class="previous">
                                                            <button class="btn btn-link ps-0" type="button"></button>
                                                        </li>
                                                        <li class="next">
                                                            <button id="labourAdd" class="btn btn-info px-5 px-sm-6" type="button"><span id="labourAdds">Add</span><span class="far fa-plus-square fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive text-nowrap py-4">
                                            <table id="labourTable" class="table table-striped">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th class="d-none">Id</th>
                                                        <th>No</th>
                                                        <th>Emp No</th>
                                                        <th>Emp Name</th>
                                                        <th>Emp Trade</th>
                                                        <th>Hours</th>
                                                        <th class="d-none">Rate</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                    @if (Model.vRepairRequestLabour.Count > 0)
                                                    {
                                                        foreach (var item in Model.vRepairRequestLabour)
                                                        {
                                                            <tr>
                                                                <td class="d-none">
                                                                    <span class="sLabourId">@item.Id</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drtItem">@item.drtItem</span>
                                                                </td>
                                                                <td>
                                                                    <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drtTechnician">@item.drtTechnician</span>
                                                                </td>
                                                                <td>
                                                                    <span class="tName">@item.tName</span>
                                                                </td>
                                                                <td>
                                                                    <span class="tTrade">@item.tTrade</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drtHours">@item.drtHours</span>
                                                                </td>
                                                                <td class="d-none">
                                                                    <span class="drtPrice">@item.drtPrice</span>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <a class="sEdit" data-code="@item.Id"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a>
                                                                        <a class="sDelete" data-code="@item.Id"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5" role="tabpanel" aria-labelledby="form-wizard-tab3" id="form-wizard-tab3">
                                    <form data-wizard-form="2">
                                        <div class="card pb-5">
                                            <div class="card-body pb-0">
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="drsStockCode" class="form-label">Stock Code</label>
                                                            <input class="d-none" id="MaterialID" value="0" />
                                                            <input id="drsItem" class="d-none" value="0" />
                                                            <select id="drsStockCode" data-placeholder="Choose Stock Code" data-first="2" data-two="3" data-three="7" class="form-select form-select-sm select2 ddmulti2 vtext">
                                                                @* <option data-code="0" value="" selected disabled hidden>** Choose Type **</option> *@

                                                                <option data-code="0"></option>
                                                                <optgroup class="def-cursor" label="Code" data-code="Unit" data-city="Material">
                                                                    @if (Model.vStore != null)
                                                                    {
                                                                        foreach (var item in Model.vStore)
                                                                        {
                                                                            <option data-code="@item.uDescription" data-city="@item.sDescription" value="@item.sStockCode">@item.sStockCode</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                            </select>
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="sDescription" class="form-label">Material Description</label>
                                                            <input id="sDescription"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Material Description" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="uDescription" class="form-label">Unit</label>
                                                            <input id="uDescription"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="Unit" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="drsQtyBack" class="form-label">Qty Back</label>
                                                            <input id="drsQtyBack"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Qty Back" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="QtyUsed" class="form-label">Qty Used</label>
                                                            <input id="QtyUsed"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Qty Used" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="drsQty" class="form-label">Qty Take</label>
                                                            <input id="drsQty"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="Qty Take" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md">
                                                        <div>
                                                            <div class="row">
                                                                <div class="col pl-2 pr-2">
                                                                    <label for="drsRemark" class="form-label">Remarks</label>
                                                                    <input id="drsRemark"
                                                                           class="form-control form-control-sm vtext"
                                                                           type="text"
                                                                           placeholder="Remarks" />
                                                                    <div class="valid-feedback">
                                                                        Looks good!
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-body-tertiary pb-3">
                                                <div class="px-sm-0 px-md-0">
                                                    <ul class="pager wizard list-inline mb-0">
                                                        <li class="previous">
                                                            <button class="btn btn-link ps-0" type="button"></button>
                                                        </li>
                                                        <li class="next">
                                                            <button id="MaterialAdd" class="btn btn-info px-5 px-sm-6" type="button"><span id="MaterialAdds">Add</span><span class="far fa-plus-square fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive text-nowrap py-4">
                                            <table id="MaterialTable" class="table table-striped">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th class="d-none">Id</th>
                                                        <th>No</th>
                                                        <th>Stock Code</th>
                                                        <th>Material Desc</th>
                                                        <th>Unit</th>
                                                        <th>Qty Take</th>
                                                        <th>Qty Back</th>
                                                        <th>Qty Used</th>
                                                        <th>Remarks</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                    @if (Model.vRepairRequestMaterial.Count > 0)
                                                    {
                                                        foreach (var item in Model.vRepairRequestMaterial)
                                                        {
                                                            <tr>
                                                                <td class="d-none">
                                                                    <span class="rMaterialId">@item.Id</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drsItem">@item.drsItem</span>
                                                                </td>
                                                                <td>
                                                                    <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drsStockCode">@item.drsStockCode</span>
                                                                </td>
                                                                <td>
                                                                    <span class="sDescription">@item.sDescription</span>
                                                                </td>
                                                                <td>
                                                                    <span class="uDescription">@item.uDescription</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drsQty">@item.drsQty</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drsQtyBack">@item.drsQtyBack</span>
                                                                </td>
                                                                <td>
                                                                    <span class="QtyUsed">@item.QtyUsed</span>
                                                                </td>
                                                                <td>
                                                                    <span class="drsRemark">@item.drsRemark</span>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <a class="sEdit" data-code="@item.Id"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a>
                                                                        <a class="sDelete" data-code="@item.Id"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- / Content -->
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
                <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                    <div class="mb-2 mb-md-0">
                        ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        made by
                        <a href="https://ptodg.com/id/" target="_blank" class="footer-link">ODG Indonesia</a>
                    </div>

                </div>
            </div>
        </footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
        <div class="modal fade" id="findData" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body px-3 pt-2">
                        <div class="table-responsive text-nowrap pb-3">
                            <table id="requestFindTable" class="table table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th class="d-none">RequestFindID</th>
                                        <th>Job Order</th>
                                        <th>Date Order</th>
                                        <th>Project</th>
                                        <th>Customer</th>
                                        <th>Originator</th>
                                        <th>Action By</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @if (Model.vRepairFind.Count > 0)
                                    {
                                        foreach (var item in Model.vRepairFind)
                                        {
                                            <tr>
                                                <td class="d-none">
                                                    <span class="fRequestID">@item.Id</span>
                                                </td>
                                                <td>
                                                    <span class="frJobOrder">@item.rJobOrder</span>
                                                </td>
                                                <td>
                                                    <span class="frDateOrder">@Convert.ToDateTime(item.rDateOrder).ToString("dd MMM yyyy")</span>
                                                </td>
                                                <td>
                                                    <span class="frProject">@item.rProject</span>
                                                </td>
                                                <td>
                                                    <span class="frCustomer">@item.rCustomer</span>
                                                </td>
                                                <td>
                                                    <span class="frOriginator">@item.rOriginator</span>
                                                </td>
                                                <td>
                                                    <span class="frHeadTech">@item.rHeadTech</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->


    <script>
        $(document).ready(function () {
            var ext = false;
            var addtyp = 'labour';
            var dt_to = $.datepicker.formatDate('dd/mm/yy', new Date());
            var stopBlinking = false;
            $('#drDate').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+1",
            });



            $('#drtTechnician').on('change', function () {
                $('#drtName').val($(this).find('option:selected').attr('data-code'));
                $('#tTrade').val($(this).find('option:selected').attr('data-show'));
            });


            $('#drsStockCode').on('change', function () {
                $('#sDescription').val($(this).find('option:selected').attr('data-city'));
                $('#uDescription').val($(this).find('option:selected').attr('data-code'));
            });

            $('#labourTable').DataTable({
                //responsive: true,
                // "columnDefs": [
                //     { "width": "80%", "targets": 2 }
                // ],
                paging: true,
                "autoWidth": false,
                searching: false,
                //"lengthChange": false
            });
            $('#MaterialTable').DataTable({
                //responsive: true,
                // "columnDefs": [
                //     { "width": "80%", "targets": 2 }
                // ],
                paging: true,
                "autoWidth": false,
                searching: false,
                //"lengthChange": false
            });
            $('#requestFindTable').DataTable({
                //responsive: true,
                // "columnDefs": [
                //     { "width": "80%", "targets": 2 }
                // ],
                paging: true,
                "autoWidth": false,
                // searching: false,
                "lengthChange": false
            });
            if (Cookies.get('goMaterial') != '0')
            {
                GetRequestAll("keep2",0, Cookies.get('goMaterial'));
                Cookies.set('goMaterial', '0')
                $('#repairAdds').html('Update');
            }
            $('#labourTable').on('click', 'tbody tr td', function () {
                getEditLabour($(this))
            });
            $('#MaterialTable').on('click', 'tbody tr td', function () {
                getEditMaterial($(this))
            });
            function getEditLabour(ths) {
                $('#LabourID').val(ths.closest('tr').find('.sLabourId').html());
                $('#drtItem').val(ths.closest('tr').find('.drtItem').html());
                $('#drtTechnician').val(ths.closest('tr').find('.drtTechnician').html()).trigger('change');
                // $('#drtTechnician option[data-id=' + ths.closest('tr').find('.trID').html() + ']').attr('selected', 'selected').trigger('change');
                // $('#drtTechnician option').removeAttr('selected').filter('[data-id=' + ths.closest('tr').find('.trID').html() + ']').attr('selected', true)
                // $('#drtTechnician').attr('data-id', ths.closest('tr').find('.trID').html()).trigger('change');
                // $("#drtTechnician option[data-id=" + ths.closest('tr').find('.trID').html() + "]").prop("selected", true).trigger("change");
                // let getVal = ths.closest('tr').find('.trID').html();
                // $(`#drtTechnician option[data-id="${getVal}"]`).prop('selected', 'selected').trigger("change");
                $('#drtTechnician').removeClass('is-invalid').removeClass('is-valid');
                $('#drtHours').val(ths.closest('tr').find('.drtHours').html());
                $('#labourAdds').html('Update');



            }
            function getEditMaterial(ths) {
                $('#MaterialID').val(ths.closest('tr').find('.rMaterialId').html());
                $('#drsItem').val(ths.closest('tr').find('.drsItem').html());
                $('#drsStockCode').val(ths.closest('tr').find('.drsStockCode').html()).trigger('change');
                $('#drsStockCode').removeClass('is-invalid').removeClass('is-valid');
                $('#sDescription').val(ths.closest('tr').find('.sDescription').html());
                $('#uDescription').val(ths.closest('tr').find('.uDescription').html());
                $('#drsQty').val(ths.closest('tr').find('.drsQty').html());
                $('#drsQtyBack').val(ths.closest('tr').find('.drsQtyBack').html());
                $('#QtyUsed').val(ths.closest('tr').find('.QtyUsed').html());
                $('#drsRemark').val(ths.closest('tr').find('.drsRemark').html());
                $('#MaterialAdds').html('Update');
            }
            $('#labourTable').on('click', '.sEdit', function () {
                getEditLabour($(this))
            });

            $('#MaterialTable').on('click', '.sEdit', function () {
                getEditMaterial($(this))
            });

            $('#labourTable').on('click', '.sDelete', function () {
                var Id = $(this).attr('data-code');
                Swal.fire({
                    title: 'Delete this Item?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $(this).closest('tr').remove();
                        DeleteItem('Labour', Id);
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire(
                            'Cancelled',
                            '',
                            'error'
                        )
                    }
                })
            });

            $('#MaterialTable').on('click', '.sDelete', function () {
                var Id = $(this).attr('data-code');
                Swal.fire({
                    title: 'Delete this Item?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $(this).closest('tr').remove();
                        DeleteItem('Material', Id);
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire(
                            'Cancelled',
                            '',
                            'error'
                        )
                    }
                })
            });

            function DeleteItem(typ,id) {
                var itms = {};
                itms.Id = id;
                itms.Typ = typ
                $.ajax({
                    url: '/MinorSystem/DeleteMain',
                    type: "POST",
                    data: JSON.stringify(itms),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        if (data) {
                            Swal.fire({
                                title: 'Minor Main!!!',
                                text: 'Req data has been deleted!',
                                icon: 'success'
                            })
                        }
                        else {
                            alert(data.text);
                        }
                    },
                    error: function (data) {
                        alert(data.text);
                    }
                });
            }

            function SaveLabour() {
                $.ajax({
                    url: '/MinorSystem/SaveLabour',
                    type: "POST",
                    data: JSON.stringify(getLabour()),
                    dataType: 'json',
                    // cache: false,
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            if (data.value.success)
                            {
                                addLabour();
                                if (data.value.typ_ == 'Create') {
                                    $("#labourTable>tbody>tr:first").find('.sLabourId').text(data.value.result);
                                    $("#labourTable>tbody>tr:first").find('.drtItem').text(data.value.item);
                                    $("#labourTable>tbody>tr:first").find('.sDelete').attr('data-code', data.value.result);
                                    $("#labourTable>tbody>tr:first").find('.sEdit').attr('data-code', data.value.result);
                                }
                                // $('#aID').prop("disabled", true);

                                clearLabour();
                            }
                            else {
                                Swal.fire({
                                    title: 'Duplicate!!!',
                                    text: 'Job no : ' + data.value.typ_ + ' already exist!',
                                    icon: 'error'
                                })
                            }

                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            alert(data.text);
                        }
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    },
                    error: function (data) {
                        alert(data.text);
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    }
                });
            }

            function SaveMaterial() {
                $.ajax({
                    url: '/MinorSystem/SaveMaterial',
                    type: "POST",
                    data: JSON.stringify(getMaterial()),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        if (data) {
                            if (data.value.success) {
                                addMaterial()
                                if (data.value.typ_ == 'Create') {
                                    $("#MaterialTable>tbody>tr:first").find('.rMaterialId').text(data.value.result);
                                    $("#MaterialTable>tbody>tr:first").find('.drsItem').text(data.value.item);
                                    $("#MaterialTable>tbody>tr:first").find('.sDelete').attr('data-code', data.value.result);
                                    $("#MaterialTable>tbody>tr:first").find('.sEdit').attr('data-code', data.value.result);
                                }
                                // $('#aID').prop("disabled", true);

                                clearMaterial();
                            }
                            else {
                                Swal.fire({
                                    title: 'Duplicate!!!',
                                    text: 'Job no : ' + data.value.typ_ + ' already exist!',
                                    icon: 'error'
                                })
                            }


                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            alert(data.text);
                        }
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    },
                    error: function (data) {
                        alert(data.text);
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    }
                });
            }

            function GetExistingRequest() {
                $.ajax({
                    url: '/MinorSystem/GetExistingRequest',
                    type: "POST",
                    data: JSON.stringify(getRequest()),
                    dataType: 'json',
                    // cache: false,
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            // alert(data.success);
                            if (data.success) {
                                Swal.fire({
                                    title: 'Duplicate!!!',
                                    text: 'Unit no : ' + data.typ_ + ' already exist!',
                                    icon: 'error'
                                })
                                ext = false;
                            }
                            else
                            {
                                Swal.fire({
                                    title: 'Asset Main!!!',
                                    text: 'Unit no : ' + data.typ_ + ' Saved!',
                                    icon: 'success'
                                })
                                $('#drRefNoID').prop("disabled", true);
                                $("#RequestId").val(data.result);
                                clearRequestValid();
                            }

                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            alert(data.text);
                            ext = false;
                        }
                    },
                    error: function (data) {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        alert(data.text);
                        ext = false;
                    }
                });
                return ext;
            }

            function UpdateRequest() {
                $.ajax({
                    url: '/MinorSystem/UpdateRequest',
                    type: "POST",
                    data: JSON.stringify(getRequest()),
                    dataType: 'json',
                    // cache: false,
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            Swal.fire({
                                title: 'Request!!!',
                                text: 'Job No : ' + data.typ_ + ' Updated!',
                                icon: 'success'
                            })

                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            clearRequestValid();
                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            alert(data.text);
                            ext = false;
                        }
                    },
                    error: function (data) {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        alert(data.text);
                        ext = false;
                    }
                });
                return ext;
            }

            function addLabour() {
                if ($('#LabourID').val() != '0') {
                    var elems = $('.sLabourId').filter(function () {
                        return this.textContent.trim() === $('#LabourID').val()
                    });
                    elems.closest('tr').find('.drtItem').text($('#drtItem').val());
                    elems.closest('tr').find('.drtTechnician').text($('#drtTechnician').val());
                    elems.closest('tr').find('.drtName').text($('#drtName').val());
                    elems.closest('tr').find('.tTrade').text($('#tTrade').val());
                    elems.closest('tr').find('.drtHours').text($('#drtHours').val());
                    elems.closest('tr').find('.drtPrice').text($('#drtTechnician').find('option:selected').attr('data-price'));
                    blink(elems.closest('tr'));
                }
                else {
                    var newRow = $("<tr>");
                    var cols = '';

                    cols += '<td class="d-none"> <span class="sLabourId">' + $('#LabourID').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric" > <span class="drtItem">' + $('#drtItem').val() + '</span> </td>';
                    cols += '<td> <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drtTechnician">' + $('#drtTechnician').val() + '</span> </td>';
                    cols += '<td> <span class="tName">' + $('#drtName').val() + '</span> </td>';
                    cols += '<td> <span class="tTrade">' + $('#tTrade').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="drtHours">' + $('#drtHours').val() + '</span> </td>';
                    cols += '<tdclass="d-none"> <span class="drtPrice">' + $('#drtTechnician').find('option:selected').attr('data-price') + '</span> </td>';
                    cols += '<td> <div> <a class="sEdit" data-code="' + $('#LabourID').val() + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + $('#LabourID').val() + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';


                    newRow.append(cols);

                    $("#labourTable >tbody").prepend(newRow);
                    // $("#serviceTable").DataTable()
                    //     .columns.adjust()
                    //     .responsive.recalc();
                    blink(newRow);
                }
            }
            function addMaterial() {
                if ($('#MaterialID').val() != '0') {
                    var elems = $('.rMaterialId').filter(function () {
                        return this.textContent.trim() === $('#MaterialID').val()
                    });
                    elems.closest('tr').find('.drsItem').text($('#drsItem').val());
                    elems.closest('tr').find('.drsStockCode').text($('#drsStockCode').val());
                    elems.closest('tr').find('.sDescription').text($('#sDescription').val());

                    elems.closest('tr').find('.uDescription').text($('#uDescription').val());

                    elems.closest('tr').find('.drsQty').text($('#drsQty').val());
                    elems.closest('tr').find('.drsQtyBack').text($('#drsQtyBack').val());
                    elems.closest('tr').find('.QtyUsed').text($('#QtyUsed').val());
                    elems.closest('tr').find('.drsRemark').text($('#drsRemark').val());
                    blink(elems.closest('tr'));
                }
                else {
                    var newRow = $("<tr>");
                    var cols = '';

                    cols += '<td class="d-none"> <span class="rMaterialId">' + $('#MaterialID').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="drsItem">' + $('#drsItem').val() + '</span> </td>';
                    cols += '<td> <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drsStockCode">' + $('#drsStockCode').val() + '</span> </td>';
                    cols += '<td> <span class="sDescription">' + $('#sDescription').val() + '</span> </td>';
                    cols += '<td> <span class="uDescription">' + $('#uDescription').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="drsQty">' + $('#drsQty').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="drsQtyBack">' + $('#drsQtyBack').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="QtyUsed">' + $('#QtyUsed').val() + '</span> </td>';
                    cols += '<td > <span class="drsRemark">' + $('#drsRemark').val() + '</span> </td>';
                    cols += '<td> <div> <a class="sEdit" data-code="' + $('#MaterialID').val() + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + $('#MaterialID').val() + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';


                    newRow.append(cols);

                    $("#MaterialTable >tbody").prepend(newRow);
                    // $("#serviceTable").DataTable()
                    //     .columns.adjust()
                    //     .responsive.recalc();
                    blink(newRow);
                }
            }

            $('#requestAdd').on('click', function (e) {
                e.preventDefault();
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                if (!ValidationCheckRequest()) {
                    if ($('#RequestId').val() == '0') {
                        GetExistingRequest();
                    }
                    else
                    {
                        UpdateRequest();
                    }
                    // $('#requestAdds').html('Save');
                }
                else
                {
                    $("#spinner").hide();
                    $("body").css("pointer-events", "");
                    $(".layout-wrapper").css("opacity", 1);
                }
            });

            $('#labourAdd').on('click', function (e) {
                e.preventDefault();
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                if (!ValidationCheck($(this).closest('form'))) {
                    if ($('#rJobOrder').val() == '0') {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        Swal.fire({
                            title: 'Job Order Data!!!',
                            text: 'Please Job Order data first!!!!',
                            icon: 'error'
                        });
                    }
                    else {
                        if ($('#LabourID').val() != "0")
                        {
                            var lanjut = true;
                            $("#labourTable tbody tr").each(function () {
                                if ($(this).find('.sLabourId').html() == $('#LabourID').val() && $(this).find('.drtPrice').html() != $('#drtTechnician').find('option:selected').attr('data-price')) {
                                    lanjut = false;
                                    $("#spinner").hide();
                                    $("body").css("pointer-events", "");
                                    $(".layout-wrapper").css("opacity", 1);
                                    Swal.fire({
                                        title: 'Duplicate?',
                                        text: "There differential between new price and old price. Replace old price with new one?",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonText: 'Yes!',
                                        cancelButtonText: 'No!',
                                        reverseButtons: true
                                    }).then((result) => {
                                        if (result.value) {
                                            $("#spinner").show();
                                            $("body").css("pointer-events", "none");
                                            $(".layout-wrapper").css("opacity", 0.6);
                                            SaveLabour();
                                        } else if (
                                            result.dismiss === Swal.DismissReason.cancel
                                        ) {
                                            Swal.fire(
                                                'Cancelled',
                                                '',
                                                'error'
                                            )
                                        }
                                    })
                                }
                            });
                            if (lanjut)
                            {
                                SaveLabour();
                            }

                        }
                        else
                        {
                            SaveLabour();
                        }

                    }
                }
                else
                {
                    $("#spinner").hide();
                    $("body").css("pointer-events", "");
                    $(".layout-wrapper").css("opacity", 1);
                }
            });

            $('#MaterialAdd').on('click', function (e) {
                e.preventDefault();
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                if (!ValidationCheck($(this).closest('form'))) {
                    if ($('#RequestId').val() == '0') {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        Swal.fire({
                            title: 'Asset Data!!!',
                            text: 'Please Adding Asset data first!!!!',
                            icon: 'error'
                        })

                    }
                    else
                    {
                        SaveMaterial();
                    }
                }
                else
                {
                    $("#spinner").hide();
                    $("body").css("pointer-events", "");
                    $(".layout-wrapper").css("opacity", 1);
                }
            });


            function getLabour() {
                var tmp_Id = $('#LabourID').val() == '' ? 0 : $('#LabourID').val();
                var tmp_drtTechnician = $('#drtTechnician').val();
                var tmp_drtName = $('#drtName').val();
                var tmp_drtItem = $('#drtItem').val();
                var tmp_drtItem = $('#drtItem').val();
                var tmp_tTrade = $('#tTrade').val();
                var tmp_drtTrTrade = $('#drtTechnician').find('option:selected').attr('data-city');
                var tmp_drtHours = $('#drtHours').val();
                var tmp_trPriceRate = $('#drtTechnician').find('option:selected').attr('data-price');
                var tmp_drtRefNoID = $('#drRefNoID').val();
                return (tmp_drtTechnician == "") ? null :
                    {
                        Id: tmp_Id,
                        drtTechnician: tmp_drtTechnician,
                        drtName: tmp_drtName,
                        drtItem: tmp_drtItem,
                        tTrade: tmp_tTrade,
                        drtTrTrade: tmp_drtTrTrade,
                        drtHours: tmp_drtHours,
                        drtPrice: tmp_trPriceRate,
                        drtRefNoID: tmp_drtRefNoID

                    };
            }

            function getMaterial() {
                var tmp_Id = $('#MaterialID').val() == '' ? 0 : $('#MaterialID').val();
                var tmp_drsItem = $('#drsItem').val();
                var tmp_drsStockCode = $('#drsStockCode').val();
                var tmp_sDescription = $('#sDescription').val();
                var tmp_uDescription = $('#uDescription').val();
                var tmp_drsQty = $('#drsQty').val();
                var tmp_drsQtyBack = $('#drsQtyBack').val() == '' ? 0 : $('#drsQtyBack').val();
                var tmp_QtyUsed = $('#QtyUsed').val();
                var tmp_drsRemark = $('#drsRemark').val();
                var tmp_drsNoID = $('#drRefNoID').val();
                return (tmp_drsStockCode == "") ? null :
                    {
                        Id: tmp_Id,
                        drsItem: tmp_drsItem,
                        drsStockCode: tmp_drsStockCode,
                        sDescription: tmp_sDescription,
                        uDescription: tmp_uDescription,
                        drsQty: tmp_drsQty,
                        drsQtyBack: tmp_drsQtyBack,
                        QtyUsed: tmp_QtyUsed,
                        drsNoID: tmp_drsNoID,
                        drsRemark: tmp_drsRemark
                    };
            }

            function getRequest() {
                var from = $("#drDate").val().split("/");
                var dt_drDate = new Date(from[2] + '-' + from[1] + '-' + from[0]);
                var tmp_RequestId = $('#RequestId').val();
                var tmp_drJobNo = $('#drJobNo').val();
                var tmp_sAssetID = $('#sAssetID').val();
                var tmp_sLocation = $('#sLocation').val();
                var tmp_sTypeService = $('#sTypeService').val();
                var tmp_drRefNoID = $('#drRefNoID').val();
                var tmp_drDate = dt_drDate;
                var tmp_drOriginator = $('#drOriginator').val();
                var tmp_drPercent = $('#drPercent').val();

                return (tmp_drJobNo == "") ? null :
                    {
                        Id: tmp_RequestId,
                        drJobNo: tmp_drJobNo,
                        sAssetID: tmp_sAssetID,
                        sLocation: tmp_sLocation,
                        sTypeService: tmp_sTypeService,
                        drRefNoID: tmp_drRefNoID,
                        drDate: tmp_drDate,
                        drOriginator: tmp_drOriginator,
                        drPercent: tmp_drPercent
                    };
            }

            function clearRequestValid() {
clearValidMain();
            }
            function clear() {
                $('#RepairId').val('0');
                $('#repairAdds').html('Save');
                $('#rJobOrder').val('');
                $('#rJobOrder').removeAttr('disabled');
                $('#rODGRefNo').val('');
                $('#rDescription').val('');
                $('#rProject').val(null).trigger('change');
                $('#rClose').prop('checked', false);
                $('#drRefNoID').val('');
                $('#drRefNoID').removeAttr('disabled');
                $('#drDate').attr("value", dt_to);
                $('#drOriginator').val('');
                $('#drPercent').val('');
                
                clearValidMain();
                clearLabour();
                clearMaterial();
                $('#labourTable tbody').empty();
                $('#MaterialTable tbody').empty();
                $('#drJobNo').focus();
            }

            function clearLabour() {
                $('#LabourID').val('0');
                $('#drtItem').val('0');
                $('#drtTechnician').val(null).trigger('change');
                $('#drtName').val('');
                $('#tTrade').val('');
                $('#drtHours').val('');
                clearValidMain();
                $('#labourAdds').html('Add');
            }

            function clearMaterial() {
                $('#MaterialID').val('0');
                $('#drsItem').val('0');
                $('#drsStockCode').val(null).trigger('change');
                $('#sDescription').val('');
                $('#uDescription').val('');
                $('#drsQty').val('');
                $('#drsQtyBack').val('');
                $('#QtyUsed').val('');
                $('#drsRemark').val('');
                clearValidMain();
                $('#MaterialAdds').html('Add');
            }


            $('#mainnew').on('click', function () {
                clear();
            });

            $('#mainfirst').on('click', function () {
                GetRequestAll("first", $('#RepairId').val(), '');
                $('#rJobOrder').prop("disabled", true);
                $('#repairAdds').html('Update');
            });
            $('#mainend').on('click', function () {
                GetRequestAll("end", $('#RepairId').val(), '');
                $('#rJobOrder').prop("disabled", true);
                $('#repairAdds').html('Update');
            });
            $('#mainprev').on('click', function () {
                GetRequestAll("prev", $('#RepairId').val(), '');
                $('#rJobOrder').prop("disabled", true);
                $('#repairAdds').html('Update');
            });
            $('#mainnext').on('click', function () {
                GetRequestAll("next", $('#RepairId').val(), '');
                $('#rJobOrder').prop("disabled", true);
                $('#repairAdds').html('Update');
            });
            $('#requestFindTable').on('click', 'tbody tr td', function () {
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                GetRequestAll("keep", $(this).closest('tr').find('.fRequestID').html(), '');
                $('#rJobOrder').prop("disabled", true);
                $('#repairAdds').html('Update');
                $('#findData').modal('toggle')
            });
            $('#rJobOrder').on('keypress', function (event) {
                if (event.which === 13 || event.key === 'Enter') {
                    GetRequestAll("keep2", $(this).val(), '');
                    $('#repairAdds').html('Update');
                };
               
            });


            function GetRequestAll(typ, id, idstr) {
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                var itms = {};
                itms.Id = id;
                itms.Typ = typ;
                itms.Idstr = idstr;
                $.ajax({
                    url: '/MinorSystem/GetRequestAll',
                    type: "POST",
                    data: JSON.stringify(itms),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            if (data.vRepairRequest != null) {
                                var dt_drDate = $.datepicker.formatDate('dd/mm/yy', new Date(data.vRepairRequest.drDate));
                                $('#labourTable').DataTable().clear().destroy();
                                $('#MaterialTable').DataTable().clear().destroy();
                                $('#RepairId').val(data.vRepairRequest.id);
                                $('#rJobOrder').val(data.vRepairRequest.rJobOrder);
                                $('#rODGRefNo').val(data.vRepairRequest.rODGRefNo);
                                $('#rProject').val(data.vRepairRequest.rProject).trigger('change');
                                $('#rClose').prop('checked', data.vRepairRequest.rClose == "1" ? true : false);
                                $('#rDescription').val(data.vRepairRequest.rDescription);
                                $('#drRefNoID').val(data.vRepairRequest.drRefNoID);
                                $('#drDate').val(dt_drDate);
                                $('#drOriginator').val(data.vRepairRequest.drOriginator);
                                $('#drPercent').val(data.vRepairRequest.drPercent);
                                $('#labourTable tbody').empty();
                                $('#MaterialTable tbody').empty();
                            clearMaterial();

                                $(data.vRepairRequestLabour).each(function (index, item) {
                                    var newRow = $("<tr>");
                                    var cols = '';
                                    cols += '<td class="d-none"> <span class="sLabourId">' + item.id + '</span> </td>';
                                    cols += '<td class="dt-type-numeric" > <span class="drtItem">' + item.drtItem + '</span> </td>';
                                    cols += '<td> <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drtTechnician">' + item.drtTechnician + '</span> </td>';
                                    cols += '<td> <span class="tName">' + item.tName + '</span> </td>';
                                    cols += '<td> <span class="tTrade">' + item.tTrade + '</span> </td>';
                                    cols += '<td class="dt-type-numeric"> <span class="drtHours">' + item.drtHours + '</span> </td>';
                                    cols += '<td class="d-none"> <span class="drtPrice">' + item.drtPrice + '</span> </td>';
                                    cols += '<td> <div> <a class="sEdit" data-code="' + item.id + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + item.id + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';


                                    newRow.append(cols);

                                    $("#labourTable >tbody").prepend(newRow);
                                });

                                $(data.vRepairRequestMaterial).each(function (index, item) {
                                    var newRow = $("<tr>");
                                    var cols = '';

                                    cols += '<td class="d-none"> <span class="rMaterialId">' + item.id + '</span> </td>';
                                    cols += '<td class="dt-type-numeric"> <span class="drsItem">' + item.drsItem + '</span> </td>';
                                    cols += '<td> <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="drsStockCode">' + item.drsStockCode + '</span> </td>';
                                    cols += '<td> <span class="sDescription">' + item.sDescription + '</span> </td>';
                                    cols += '<td> <span class="uDescription">' + item.uDescription + '</span> </td>';
                                    cols += '<td class="dt-type-numeric"> <span class="drsQty">' + item.drsQty + '</span> </td>';
                                    cols += '<td class="dt-type-numeric"> <span class="drsQtyBack">' + item.drsQtyBack + '</span> </td>';
                                    cols += '<td class="dt-type-numeric"> <span class="QtyUsed">' + item.qtyUsed + '</span> </td>';
                                    cols += '<td > <span class="drsRemark">' + item.drsRemark + '</span> </td>';
                                    cols += '<td> <div> <a class="sEdit" data-code="' + item.id + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + item.id + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';


                                    newRow.append(cols);

                                    $("#MaterialTable >tbody").prepend(newRow);
                                });
                                $('#labourTable').DataTable({
                                    paging: true,
                                    "autoWidth": false,
                                    searching: false,
                                });
                                $('#MaterialTable').DataTable({
                                    paging: true,
                                    "autoWidth": false,
                                    searching: false,
                                });
                                if (data.vRepairRequest.drJobNo == '0') {
                                    $('#rJobOrder').removeAttr('disabled');
                                    $('#rJobOrder').val('');
                                    $('#rJobOrder').focus();
                                    $('#rODGRefNo').removeAttr('disabled');
                                    $('#rODGRefNo').val('');

                                }
                                else {
                                    $('#rJobOrder').prop("disabled", true);
                                    $('#rODGRefNo').prop("disabled", true);
                                }
                                
                                clearValidMain();
                            }
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                        }
                        else {
                            alert(data.text);
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                        }
                    },
                    error: function (data) {
                        alert(data.text);
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    }
                });
            }

                        function clearValidMain() {
                $(".is-valid").each(function () {
                    $(this).removeClass('is-valid');
                });
                $(".is-invalid").each(function () {
                    $(this).removeClass('is-invalid');
                });
                $(".select2-selection.select2-selection--single").each(function () {
                    $(this).find('.select2-selection__rendered').removeAttr('title');
                });
            }
            function ValidationCheck(com)
            {
                com.find(".vtext").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if ($(this).hasClass('form-select')) {
                            (($(this).find('option:selected').attr('data-code') == "0") ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                        else {
                            (($(this).val() == '') ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                    }
                });
                com.find(".select2-selection.select2-selection--single").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if (!$(this).find('.select2-selection__rendered').attr("title")) {
                            $(this).find('.select2-selection__rendered').children().length > 0 ? $(this).addClass('is-invalid') : $(this).addClass('is-valid')
                        }
                    }
                });
                return com.find('.vtext').hasClass('is-invalid') || com.find(".select2-selection.select2-selection--single").hasClass('is-invalid') ? true : false;

            }
            $('select').on('change', function (e) {
                $(this).removeClass('is-invalid').removeClass('is-valid').addClass('is-valid');
                $(this).siblings('.select2').find('.select2-selection').removeClass('is-invalid').removeClass('is-valid');
                
            });
            function ValidationCheckRequest() {
                $("#firstForm").find(".vtext").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if ($(this).hasClass('form-select')) {
                            (($(this).find('option:selected').attr('data-code') == "0") ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                        else
                        {
                            (($(this).val() == '') ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                    }
                });
                $(".select2-selection.select2-selection--single").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if (!$(this).find('.select2-selection__rendered').attr("title")) {
                            $(this).find('.select2-selection__rendered').children().length > 0 ? $(this).addClass('is-invalid') : $(this).addClass('is-valid')
                        }
                    }
                });
                // $("#firstForm").find(".vtext").each(function () {
                //     if (!$(this).hasClass('is-valid')) {
                //         if (!$(this).hasClass('is-invalid')) {
                //             $(this).addClass('is-invalid');
                //         }
                //     }
                // });
                return $("form").find('.vtext').hasClass('is-invalid') || $(".select2-selection.select2-selection--single").hasClass('is-invalid') ? true : false;

            }

            $('#drsQty,#drsQtyBack').on('change', function () {
                var _Qty = $('#drsQty').val() == '' ? 0 : $('#drsQty').val();
                var _QtyBack = $('#drsQtyBack').val() == '' ? 0 : $('#drsQtyBack').val();
                $('#QtyUsed').val(parseFloat(_Qty - _QtyBack).toFixed(2));
            });

        });

    </script>
}