@model SangataWeb.Models.ViewModel
@{
    ViewBag.Title = "Sangata | Stock Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.UserName = @Model.User_Login.UserName;
    ViewBag.Content = "Stock Adjustment";
}
@section pMain {
    <nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
         id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="icon-base bx bx-menu icon-md"></i>

            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center me-auto">
                @* <div class="nav-item d-flex align-items-center">
            <span class="w-px-22 h-px-22"><i class="icon-base bx bx-search icon-md"></i></span>
            <input type="text"
            class="form-control border-0 shadow-none ps-1 ps-sm-2 d-md-block d-none"
            placeholder="Search..."
            aria-label="Search..." />
            </div> *@
                <div class="row">
                    <div class="col">
                        <a id="mainnew" title="Add New" href="#" class="btn btn-primary btn-circle ml-2 tombol">
                            <i class="fas fa-plus"></i>
                        </a>
                        @*                         <a id="mainsave" title="Save" href="#" class="btn btn-success btn-circle ml-4">
                    <i class="fas fa-save"></i>
                    </a> *@
                        <a id="mainfirst" title="Previous" href="#" class="btn btn-info btn-circle ml-4 tombol">
                            <i class="fas fa-fast-backward"></i>
                        </a>
                        <a id="mainprev" title="Previous" href="#" class="btn btn-info btn-circle ml-4 tombol">
                            <i class="fas fa-step-backward"></i>
                        </a>
                        <a id="mainnext" title="Next" href="#" class="btn btn-warning btn-circle ml-4 tombol">
                            <i class="fas fa-step-forward"></i>
                        </a>
                        <a id="mainend" title="Next" href="#" class="btn btn-warning btn-circle ml-4 tombol">
                            <i class="fas fa-fast-forward"></i>
                        </a>
                        <a id="mainfind" title="Find" href="#" class="btn btn-danger btn-circle ml-4 tombol" data-bs-toggle="modal" data-bs-target="#findData">
                            <i class="fas fa-search"></i>
                        </a>
                        @*                                     <a id="popost" title="Post" href="#" class="btn btn-success btn-circle ml-4 btn-sm">
                    <i class="fas fa-paper-plane"></i>
                    </a> *@
                        <input class="d-none" id="pagestatus" value="@((Model.vAdjustment == null) ? 0 : Model.vAdjustment.Id)" />
                    </div>
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-md-auto">

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow p-0"
                       href="javascript:void(0);"
                       data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../../../assets/img/avatars/1.png" class="w-px-40 h-auto rounded-circle" />
                        </div>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../../../assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">@Model.User_Login.UserName</h6>
                                        <small class="text-body-secondary">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="icon-base bx bx-user icon-md me-3"></i><span>My Profile</span>
                            </a>
                        </li>
                        @*                         <li>
                    <a class="dropdown-item" href="#">
                    <i class="icon-base bx bx-cog icon-md me-3"></i><span>Settings</span>
                    </a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">
                    <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 icon-base bx bx-credit-card icon-md me-3"></i><span class="flex-grow-1 align-middle">Billing Plan</span>
                    <span class="flex-shrink-0 badge rounded-pill bg-danger">4</span>
                    </span>
                    </a>
                    </li> *@
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="../Home/Logout">
                                <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">

            <div class="col-md-12">
                <div class="col-lg-6 col-xl-12 col-xxl-6 h-100">
                    <div class="card theme-wizard pb-5">
                        <div class="card-header bg-body-tertiary pt-5 pb-0">
                            <ul class="nav nav-pills mb-3" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button id="tabRequest" class="nav-link active" data-wizard-step="1" data-bs-toggle="pill" data-bs-target="#form-wizard-tab1" type="button" role="tab" aria-controls="form-wizard-tab1" aria-selected="true"><span class="fas fa-asterisk me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Request</span></button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button id="tabMaterial" class="nav-link" data-wizard-step="2" data-bs-toggle="pill" data-bs-target="#form-wizard-tab2" type="button" role="tab" aria-controls="form-wizard-tab2" aria-selected="false"><span class="fab fa-bimobject me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Material</span></button>
                                </li>
                                @* <li id="tabMaterial" class="nav-item" role="presentation">
                            <button class="nav-link" data-wizard-step="3" data-bs-toggle="pill" data-bs-target="#form-wizard-tab3" type="button" role="tab" aria-controls="form-wizard-tab3" aria-selected="false"><span class="fab fa-bitbucket me-2" data-fa-transform="down-2 shrink-2"></span><span class="d-none d-md-inline-block fs-10">Material</span></button>
                            </li> *@
                                @*                         <li class="nav-item" role="presentation">
                            <button class="nav-link" data-wizard-step="4" data-bs-toggle="pill" data-bs-target="#form-wizard-tab4" type="button" role="tab" aria-controls="form-wizard-tab4" aria-selected="false"><span class="fas fa-thumbs-up me-2" data-fa-transform="shrink-2"></span><span class="d-none d-md-inline-block fs-10">Done</span></button>
                            </li> *@
                            </ul>
                        </div>
                        <div class="card-body py-0">
                            <div class="tab-content px-1 py-3">
                                <div class="tab-pane px-sm-3 px-md-5 active show" role="tabpanel" aria-labelledby="form-wizard-tab1" id="form-wizard-tab1">
                                    <form id="firstForm" data-wizard-form="1">
                                        <div class="card pb-5">
                                            <div class="card-body pb-0">
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="adNo" class="form-label">Adjust. No</label>
                                                            <input class="d-none" id="RequestId" value="@Model.vAdjustment.Id" />
                                                            <input class="d-none" id="LastNo" value="@(Convert.ToInt32(Model.vAdjustment.Id) + 1)" />
                                                            <input id="adNo"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder=""
                                                                   value="@Model.vAdjustment.adNo" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="adDate" class="form-label">Adjust. Date</label>
                                                            <input id="adDate"
                                                                   class="form-control form-control-sm"
                                                                   type="text"
                                                                   placeholder=""
                                                                   value="@Convert.ToDateTime(Model.vAdjustment.adDate).ToString("dd/MM/yyyy")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div>
                                                                <label for="adStoreMan" class="form-label">Store Man</label>
                                                                <select id="adStoreMan" data-placeholder="Choose Store Man" class="form-select form-select-sm select2  vtext">
                                                                    @* <option data-code="0" value="" selected disabled hidden>** Choose Type **</option> *@

                                                                    <option data-code="0"></option>
                                                                        @if (Model.vStoreMan != null)
                                                                        {
                                                                            foreach (var item in Model.vStoreMan)
                                                                            {
                                                                        <!option data-code="@item.stEmplName" data-city="@item.stEmplNo" value="@item.stEmplName" @((item.stEmplName == Model.vAdjustment.adStoreMan) ? " selected" : "")>@item.stEmplName</!option>
                                                                            }
                                                                        }
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <label for="adApproved" class="form-label">Prepared By</label>
                                                                <select id="adApproved" data-placeholder="Choose Prepared By" class="form-select form-select-sm select2">
                                                                    @* <option data-code="0" value="" selected disabled hidden>** Choose Type **</option> *@
                                                                    <option data-code="0"></option>
                                                                    @if (Model.vForeman != null)
                                                                    {
                                                                        foreach (var item in Model.vForeman)
                                                                        {
                                                                            <!option data-code="@item.ftEmplName" value="@item.ftEmplName" @((item.ftEmplName == Model.vAdjustment.adApproved) ? "selected" : "")>@item.ftEmplName</!option>
                                                                        }
                                                                    }
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-body-tertiary pb-3">
                                                <div class="px-sm-0 px-md-0">
                                                    <ul class="pager wizard list-inline mb-0">
                                                        <li class="previous">
                                                            <button class="btn btn-link ps-0" type="button"></button>
                                                        </li>
                                                        <li class="next">
                                                            <button id="requestAdd" class="btn btn-primary px-5 px-sm-6" type="button"><span id="requestAdds">Update</span><span class="fas fa-save fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane px-sm-3 px-md-5" role="tabpanel" aria-labelledby="form-wizard-tab2" id="form-wizard-tab2">
                                    <form data-wizard-form="2">
                                        <div class="card pb-5">
                                            <div class="card-body pb-0">
                                                <div class="row g-6 pb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="adsMainNo" class="form-label">ID</label>
                                                            <input class="d-none" id="MaterialID" value="0" />
                                                            <input id="adsMainNo"
                                                                   class="form-control form-control-sm"
                                                                   type="text"
                                                                   placeholder="" disabled />
                                                        </div>
                                                        <div>
                                                            <label for="adsItem" class="form-label">Item</label>
                                                            <input id="adsItem"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder=""
                                                                   value="0" disabled />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <label for="adsStockCode" class="form-label">Stock Code</label>
                                                                <select id="adsStockCode" data-placeholder="Choose Stock Code" data-first="4" data-two="2" data-three="5" class="form-select form-select-sm select2 ddmulti2 vtext">
                                                                    @* <option data-code="0" value="" selected disabled hidden>** Choose Type **</option> *@

                                                                    <option data-code="0"></option>
                                                                    <optgroup class="def-cursor" label="Code" data-code="Unit" data-city="Material">
                                                                        @if (Model.vStore != null)
                                                                        {
                                                                            foreach (var item in Model.vStore)
                                                                            {
                                                                                <option data-code="@item.uDescription" data-city="@item.sDescription" value="@item.sStockCode">@item.sStockCode</option>
                                                                            }
                                                                        }
                                                                    </optgroup>
                                                                </select>
                                                                <div class="valid-feedback">
                                                                    Looks good!
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="uDescription" class="form-label">Unit</label>
                                                                <input id="uDescription"
                                                                       class="form-control form-control-sm"
                                                                       type="text"
                                                                       placeholder="" disabled />

                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="sDescription" class="form-label">Material Description</label>
                                                            <input id="sDescription"
                                                                   class="form-control form-control-sm"
                                                                   type="text"
                                                                   placeholder="" disabled />

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="adsQty" class="form-label">Qty Comp</label>
                                                            <input id="adsQty"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="adsQtyBack" class="form-label">Qty Store</label>
                                                            <input id="adsQtyBack"
                                                                   class="form-control form-control-sm vtext vnumber"
                                                                   type="text"
                                                                   placeholder="" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="QtyUsed" class="form-label">Qty Balance</label>
                                                            <input id="QtyUsed"
                                                                   class="form-control form-control-sm"
                                                                   type="text"
                                                                   placeholder="Qty Balance" disabled />
                                                        </div>
                                                        <div>
                                                            <label for="adsRemark" class="form-label">Remarks</label>
                                                            <input id="adsRemark"
                                                                   class="form-control form-control-sm vtext"
                                                                   type="text"
                                                                   placeholder="" />
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer bg-body-tertiary pb-3">
                                                <div class="px-sm-0 px-md-0">
                                                    <ul class="pager wizard list-inline mb-0">
                                                        <li class="previous">
                                                            <button id="MaterialClear" class="btn btn-secondary px-5 px-sm-6" type="button">Clear<span class="fa fa-eraser fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                        <li class="next">
                                                            <button id="MaterialAdd" class="btn btn-info px-5 px-sm-6" type="button"><span id="MaterialAdds">Add</span><span class="far fa-plus-square fa-lg ms-2" data-fa-transform="shrink-3"> </span></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive text-nowrap py-4">
                                            <table id="MaterialTable" class="table table-striped">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th class="d-none">Id</th>
                                                        <th class="d-none">ID</th>
                                                        <th class="d-none">No</th>
                                                        <th>Item</th>
                                                        <th>Stock Code</th>
                                                        <th>Material Desc</th>
                                                        <th>Unit</th>
                                                        <th>Qty Comp</th>
                                                        <th>Qty Store</th>
                                                        <th>Qty Balance</th>
                                                        <th>Remarks</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                    @if (Model.vAdjustmentSub.Count > 0)
                                                    {
                                                        foreach (var item in Model.vAdjustmentSub)
                                                        {
                                                            <tr>
                                                                <td class="d-none">
                                                                    <span class="rMaterialId">@item.Id</span>
                                                                </td>
                                                                <td class="d-none">
                                                                    <span class="adsMainNo">@item.adsMainNo</span>
                                                                </td>
                                                                <td class="d-none">
                                                                    <span class="adsNo">@item.adsNo</span>
                                                                </td>
                                                                <td>
                                                                    <span class="adsItem">@item.adsItem</span>
                                                                </td>
                                                                <td>
                                                                    <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="adsStockCode">@item.adsStockCode</span>
                                                                </td>
                                                                <td>
                                                                    <span class="sDescription">@item.sDescription</span>
                                                                </td>
                                                                <td>
                                                                    <span class="uDescription">@item.uDescription</span>
                                                                </td>
                                                                <td>
                                                                    <span class="adsQty">@item.adsQty</span>
                                                                </td>
                                                                <td>
                                                                    <span class="adsQtyBack">@item.adsQtyBack</span>
                                                                </td>
                                                                <td>
                                                                    <span class="QtyUsed">@item.QtyUsed</span>
                                                                </td>
                                                                <td>
                                                                    <span class="adsRemark">@item.adsRemark</span>
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <a class="sEdit" data-code="@item.Id"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a>
                                                                        <a class="sDelete" data-code="@item.Id"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- / Content -->
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
                <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                    <div class="mb-2 mb-md-0">
                        ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        made by
                        <a href="https://ptodg.com/id/" target="_blank" class="footer-link">ODG Indonesia</a>
                    </div>

                </div>
            </div>
        </footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
        <div class="modal fade" id="findData" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body px-3 pt-2">
                        <div class="table-responsive text-nowrap pb-3">
                            <table id="requestFindTable" class="table table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th class="d-none">RequestFindID</th>
                                        <th>Adjust. No</th>
                                        <th>Adjust. Date</th>
                                        <th>Checked By</th>
                                        <th>Approved By</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @if (Model.vAdjustmentFind.Count > 0)
                                    {
                                        foreach (var item in Model.vAdjustmentFind)
                                        {
                                            <tr>
                                                <td class="d-none">
                                                    <span class="fRequestID">@item.Id</span>
                                                </td>
                                                <td>
                                                    <span class="fadNo">@item.adNo</span>
                                                </td>
                                                <td>
                                                    <span class="fadDate">@item.adDate</span>
                                                </td>
                                                <td>
                                                    <span class="firPreparedBy">@item.adStoreMan</span>
                                                </td>
                                                <td>
                                                    <span class="firJobNo">@item.adApproved</span>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->


    <script>
        $(document).ready(function () {
            var ext = false;
            var addtyp = 'labour';
            var dt_to = $.datepicker.formatDate('dd/mm/yy', new Date());
            var stopBlinking = false;
            $('#adDate').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+1",
            });
            $('#adsStockCode').on('change', function () {
                $('#uDescription').val($(this).find('option:selected').attr('data-code'));
                $('#sDescription').val($(this).find('option:selected').attr('data-city'));
            });

            function GetExistingRequest() {
                $.ajax({
                    url: '/StoreIDR/GetExistingAdjustment',
                    type: "POST",
                    data: JSON.stringify(getRequest()),
                    dataType: 'json',
                    // cache: false,
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            // alert(data.success);
                            if (data.success) {
                                Swal.fire({
                                    title: 'Duplicate!!!',
                                    text: 'Adjustment no : ' + data.typ_ + ' already exist!',
                                    icon: 'error'
                                })
                                ext = false;
                            }
                            else {
                                Swal.fire({
                                    title: 'Adjustment!!!',
                                    text: 'Adjustment no : ' + data.typ_ + ' Saved!',
                                    icon: 'success'
                                })
                                $("#RequestId").val(data.result);
                                $("#LastNo").val(parseInt(data.typ_) + 1);
                                $('.tombol').removeClass('disabled');
                                clearRequestValid();
                            }

                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            alert(data.text);
                            ext = false;
                        }
                    },
                    error: function (data) {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        alert(data.text);
                        ext = false;
                    }
                });
                return ext;
            }

            function UpdateRequest() {
                $.ajax({
                    url: '/StoreIDR/UpdateAdjustment',
                    type: "POST",
                    data: JSON.stringify(getRequest()),
                    dataType: 'json',
                    // cache: false,
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            Swal.fire({
                                title: 'Adjusment!!!',
                                text: 'Adjusment No : ' + data.typ_ + ' Updated!',
                                icon: 'success'
                            })

                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            clearRequestValid();
                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                            alert(data.text);
                            ext = false;
                        }
                    },
                    error: function (data) {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        alert(data.text);
                        ext = false;
                    }
                });
                return ext;
            }

            function getRequest() {
                var from = $("#adDate").val().split("/");
                var dt_adDate = new Date(from[2] + '-' + from[1] + '-' + from[0]);
                var tmp_RequestId = $('#RequestId').val();
                var tmp_adNo = $('#adNo').val();
                var tmp_adApproved = $('#adApproved').val();
                var tmp_adStoreMan = $('#adStoreMan').val();
                var tmp_adDate = dt_adDate;
                return (tmp_adNo == "") ? null :
                    {
                        Id: tmp_RequestId,
                        adNo: tmp_adNo,
                        adApproved: tmp_adApproved,
                        adStoreMan: tmp_adStoreMan,
                        adDate: tmp_adDate
                    };
            }

            function clearRequestValid() {
                clearValidMain();
            }
            function clear() {
                $('#RequestId').val('0');
                $('#requestAdds').html('Save');
                $('#adNo').val($('#LastNo').val());
                $('#adApproved').val(null).trigger('change');
                $('#adStoreMan').val(null).trigger('change');
                $('#adDate').val(dt_to);
                clearValidMain();
                clearMaterial();
                $('#MaterialTable tbody').empty();
                $('#adNo').focus();
            }

            function clearValidMain() {
                $(".is-valid").each(function () {
                    $(this).removeClass('is-valid');
                });
                $(".is-invalid").each(function () {
                    $(this).removeClass('is-invalid');
                });
                $(".select2-selection.select2-selection--single").each(function () {
                    $(this).find('.select2-selection__rendered').removeAttr('title');
                });
            }

            $('#MaterialTable').DataTable({
                //responsive: true,
                // "columnDefs": [
                //     { "width": "80%", "targets": 2 }
                // ],
                paging: true,
                "autoWidth": false,
                searching: false,
                //"lengthChange": false
            });
            $('#requestFindTable').DataTable({
                //responsive: true,
                // "columnDefs": [
                //     { "width": "80%", "targets": 2 }
                // ],
                paging: true,
                "autoWidth": false,
                // searching: false,
                "lengthChange": false
            });

            $('#MaterialTable').on('click', 'tbody tr td', function () {
                getEditMaterial($(this))
            });


            function getEditMaterial(ths) {
                $('#MaterialID').val(ths.closest('tr').find('.rMaterialId').html());
                $('#adsItem').val(ths.closest('tr').find('.adsItem').html());
                $('#adsMainNo').val(ths.closest('tr').find('.adsMainNo').html());
                $('#adsStockCode').val(ths.closest('tr').find('.adsStockCode').html()).trigger('change');
                $('#adsStockCode').removeClass('is-invalid').removeClass('is-valid');
                $('#adsNo').val(ths.closest('tr').find('.adsNo').html());
                $('#sDescription').val(ths.closest('tr').find('.sDescription').html());
                $('#uDescription').val(ths.closest('tr').find('.uDescription').html());
                $('#adsQty').val(ths.closest('tr').find('.adsQty').html());
                $('#adsQtyBack').val(ths.closest('tr').find('.adsQtyBack').html());
                $('#QtyUsed').val(ths.closest('tr').find('.QtyUsed').html());
                $('#adsRemark').val(ths.closest('tr').find('.adsRemark').html());
                $('#MaterialAdds').html('Update');
            }

            $('#MaterialTable').on('click', '.sEdit', function () {
                getEditMaterial($(this))
            });

            $('#MaterialTable').on('click', '.sDelete', function () {
                var Id = $(this).attr('data-code');
                Swal.fire({
                    title: 'Delete this Item?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $(this).closest('tr').remove();
                        DeleteItem('Material', Id);
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire(
                            'Cancelled',
                            '',
                            'error'
                        )
                    }
                })
            });

            function DeleteItem(typ, id) {
                var itms = {};
                itms.Id = id;
                itms.Typ = typ
                $.ajax({
                    url: '/StoreIDR/DeleteAdjustmentSub',
                    type: "POST",
                    data: JSON.stringify(itms),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        if (data) {
                            Swal.fire({
                                    title: 'Adjustment!!!',
                                    text: 'Req data has been deleted!',
                                    icon: 'success'
                                })
                        }
                        else {
                            alert(data.text);
                        }
                    },
                    error: function (data) {
                        alert(data.text);
                    }
                });
            }

            function SaveMaterial() {
                $.ajax({
                    url: '/StoreIDR/SaveAdjustmentSub',
                    type: "POST",
                    data: JSON.stringify(getMaterial()),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    success: function (data) {
                        if (data) {
                            if (data.value.success) {
                                addMaterial()
                                if (data.value.typ_ == 'Create') {
                                    $("#MaterialTable>tbody>tr:first").find('.rMaterialId').text(data.value.result);
                                    $("#MaterialTable>tbody>tr:first").find('.adsItem').text(data.value.item);
                                    $("#MaterialTable>tbody>tr:first").find('.adsNo').text(data.value.no);
                                    $("#MaterialTable>tbody>tr:first").find('.sDelete').attr('data-code', data.value.result);
                                    $("#MaterialTable>tbody>tr:first").find('.sEdit').attr('data-code', data.value.result);
                                }
                                // $('#aID').prop("disabled", true);

                                clearMaterial();
                                clearValidMain();

                            }
                            else {
                                Swal.fire({
                                    title: 'Duplicate!!!',
                                    text: 'Stock Code No : ' + data.value.typ_ + ' already exist!',
                                    icon: 'error'
                                })
                            }


                            // window.location = "/LightingPlant/Index"
                        }
                        else {
                            alert(data.text);
                        }
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    },
                    error: function (data) {
                        alert(data.text);
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    }
                });
            }

            function addMaterial() {
                if ($('#MaterialID').val() != '0') {
                    var elems = $('.rMaterialId').filter(function () {
                        return this.textContent.trim() === $('#MaterialID').val()
                    });
                    elems.closest('tr').find('.adsMainNo').text($('#adsMainNo').val());
                    elems.closest('tr').find('.adsNo').text($('#adsNo').val());
                    elems.closest('tr').find('.adsStockCode').text($('#adsStockCode').val());
                    elems.closest('tr').find('.sDescription').text($('#sDescription').val());
                    elems.closest('tr').find('.uDescription').text($('#uDescription').val());
                    elems.closest('tr').find('.adsQty').text($('#adsQty').val());
                    elems.closest('tr').find('.adsQtyBack').text($('#adsQtyBack').val());
                    elems.closest('tr').find('.QtyUsed').text($('#QtyUsed').val());
                    elems.closest('tr').find('.adsRemark').text($('#adsRemark').val());
                    elems.closest('tr').find('.adsItem').text($('#adsItem').val());
                    blink(elems.closest('tr'));
                }
                else {
                    var newRow = $("<tr>");
                    var cols = '';

                    cols += '<td class="d-none"> <span class="rMaterialId">' + $('#MaterialID').val() + '</span> </td>';
                    cols += '<td class="d-none"> <span class="adsMainNo">' + $('#adsMainNo').val() + '</span> </td>';
                    cols += '<td class="d-none"> <span class="adsNo">' + $('#adsNo').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="adsItem">' + $('#adsItem').val() + '</span> </td>';
                    cols += '<td> <span class="fas fa-circle fs-11 me-1 text-primary"></span><span class="adsStockCode">' + $('#adsStockCode').val() + '</span> </td>';
                    cols += '<td> <span class="sDescription">' + $('#sDescription').val() + '</span> </td>';
                    cols += '<td> <span class="uDescription">' + $('#uDescription').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="adsQty">' + $('#adsQty').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="adsQtyBack">' + $('#adsQtyBack').val() + '</span> </td>';
                    cols += '<td class="dt-type-numeric"> <span class="QtyUsed">' + $('#QtyUsed').val() + '</span> </td>';
                    cols += '<td> <span class="adsRemark">' + $('#adsRemark').val() + '</span> </td>';
                    cols += '<td> <div> <a class="sEdit" data-code="' + $('#MaterialID').val() + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + $('#MaterialID').val() + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';


                    newRow.append(cols);

                    $("#MaterialTable >tbody").prepend(newRow);
                    // $("#serviceTable").DataTable()
                    //     .columns.adjust()
                    //     .responsive.recalc();
                    blink(newRow);
                }
            }

            $('#requestAdd').on('click', function (e) {
                e.preventDefault();
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                if (!ValidationCheckRequest()) {
                    if ($('#RequestId').val() == '0') {
                        GetExistingRequest();
                    }
                    else {
                        UpdateRequest();
                    }
                    // $('#requestAdds').html('Save');
                }
                else {
                    $("#spinner").hide();
                    $("body").css("pointer-events", "");
                    $(".layout-wrapper").css("opacity", 1);
                }
            });



            $('#MaterialAdd').on('click', function (e) {
                e.preventDefault();
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                if (!ValidationCheck($(this).closest('form'))) {
                    if ($('#RequestId').val() == '0') {
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                        Swal.fire({
                            title: 'Request Data!!!',
                            text: 'Please Adding Request data first!!!!',
                            icon: 'error'
                        })

                    }
                    else {
                        SaveMaterial();
                    }
                }
                else {
                    $("#spinner").hide();
                    $("body").css("pointer-events", "");
                    $(".layout-wrapper").css("opacity", 1);
                }
            });

            function getMaterial() {
                var tmp_Id = $('#MaterialID').val() == '' ? 0 : $('#MaterialID').val();
                var tmp_adsMainNo = $('#adNo').val() == '' ? 0 : $('#adNo').val();
                var tmp_adsNo = $('#adNo').val() == '' ? 0 : $('#adNo').val();
                var tmp_adsQty = $('#adsQty').val();
                var tmp_adsQtyBack = $('#adsQtyBack').val();
                var tmp_adsStockCode = $('#adsStockCode').val();
                var tmp_adsRemark = $('#adsRemark').val();
                var tmp_adsItem = $('#adsItem').val() == '' ? 0 : $('#adsItem').val();
                return (tmp_Id == "") ? null :
                    {
                        Id: tmp_Id,
                        adsMainNo: tmp_adsMainNo,
                        adsNo: tmp_adsNo,
                        adsQty: tmp_adsQty,
                        adsQtyBack: tmp_adsQtyBack,
                        adsStockCode: tmp_adsStockCode,
                        adsRemark: tmp_adsRemark,
                        adsItem: tmp_adsItem
                    };
            }

            function clearMaterial() {
                $('#MaterialID').val('0');
                $('#adsItem').val('0');
                $('#adsStockCode').val(null).trigger('change');
                $('#adsMainNo').val('');
                $('#adsNo').val('');
                $('#sDesription').val('');
                $('#adsRemark').val('');
                $('#uDesription').val('');
                $('#adsQty').val('');
                $('#adsQtyBack').val('');
                $('#QtyUsed').val('');
                $('#MaterialAdds').html('Add');
            }


            $('#mainnew').on('click', function () {
                clear();
            });

            $('#mainfirst').on('click', function () {
                GetRequestAll("first", $('#RequestId').val());
                $('#requestAdds').html('Update');
            });
            $('#mainend').on('click', function () {
                GetRequestAll("end", $('#RequestId').val());
                $('#requestAdds').html('Update');
            });
            $('#mainprev').on('click', function () {
                GetRequestAll("prev", $('#RequestId').val());
                $('#requestAdds').html('Update');
            });
            $('#mainnext').on('click', function () {
                GetRequestAll("next", $('#RequestId').val());
                $('#requestAdds').html('Update');
            });
            $('#requestFindTable').on('click', 'tbody tr td', function () {
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                GetRequestAll("keep", $(this).closest('tr').find('.fRequestID').html());
                $('#requestAdds').html('Update');
                $('#findData').modal('toggle')
            });
            $('#adNo').on('keypress', function (event) {
                if (event.which === 13 || event.key === 'Enter') {
                GetRequestAll("keep2",1, $(this).val());
                $('#adNo').prop("disabled", true);
                $('#requestAdds').html('Update');
                }
            });


            function GetRequestAll(typ, id, Idstr) {
                $("#spinner").show();
                $("body").css("pointer-events", "none");
                $(".layout-wrapper").css("opacity", 0.6);
                var itms = {};
                itms.Id = id;
                itms.Typ = typ
                itms.Idstr = Idstr
                $.ajax({
                    url: '/StoreIDR/GetAdjustmentBy',
                    type: "POST",
                    data: JSON.stringify(itms),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    // traditional: true,
                    success: function (data) {
                        if (data) {
                            if (data.vAdjustment != null)
                            {
                                var dt_adDate = $.datepicker.formatDate('dd/mm/yy', new Date(data.vAdjustment.adDate));
                            var dt_adDateRec = $.datepicker.formatDate('dd/mm/yy', new Date(data.vAdjustment.adDateRec));
                            $('#MaterialTable').DataTable().clear().destroy();
                            $('#RequestId').val(data.vAdjustment.id);
                            $('#adNo').val(data.vAdjustment.adNo);
                            $('#adApproved').val(data.vAdjustment.adApproved).trigger('change');
                            $('#adDate').val(dt_adDate);
                            $('#adStoreMan').val(data.vAdjustment.adStoreMan).trigger('change');
                            $('#MaterialTable tbody').empty();
                            clearMaterial();

                            $(data.vAdjustmentSub).each(function (index, item) {
                                var newRow = $("<tr>");
                                var cols = '';
                                cols += '<td class="d-none"> <span class="rMaterialId">' + item.id + '</span> </td>';
                                cols += '<td class="d-none"> <span class="adsMainNo">' + item.adsMainNo + '</span > </td > ';
                                cols += '<td class="d-none"> <span class="adsNo">' + item.adsNo + '</span > </td > ';
                                cols += '<td class="dt-type-numeric"> <span class="adsItem">' + item.adsItem + '</span > </td > ';
                                cols += '<td> <span class="adsStockCode">' + item.adsStockCode + '</span > </td > ';
                                cols += '<td> <span class="sDescription">' + item.sDescription + '</span > </td > ';
                                cols += '<td> <span class="uDescription">' + item.uDescription + '</span > </td > ';
                                cols += '<td class="dt-type-numeric"> <span class="adsQty">' + item.adsQty + '</span > </td > ';
                                cols += '<td class="dt-type-numeric"> <span class="adsQtyBack">' + item.adsQtyBack + '</span > </td > ';
                                cols += '<td class="dt-type-numeric"> <span class="QtyUsed">' + item.qtyUsed + '</span > </td > ';
                                    cols += '<td> <span class="adsRemark">' + item.adsRemark + '</span > </td > ';
                                        cols += '<td> <div> <a class="sEdit" data-code="' + item.id + '"><i class="icon-base bx bx-edit-alt icon-xm text-info me-1"></i></a> <a class="sDelete" data-code="' + item.id + '"><i class="icon-base bx bx-trash icon-xm text-danger me-4 me-1"></i></a> </div> </td>';



                                newRow.append(cols);

                                $("#MaterialTable >tbody").prepend(newRow);
                            });

                            $('#MaterialTable').DataTable({
                                paging: true,
                                "autoWidth": false,
                                searching: false,
                            });


                            clearValidMain();
                            }
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                        }
                        else {
                            alert(data.text);
                            $("#spinner").hide();
                            $("body").css("pointer-events", "");
                            $(".layout-wrapper").css("opacity", 1);
                        }
                    },
                    error: function (data) {
                        alert(data.text);
                        $("#spinner").hide();
                        $("body").css("pointer-events", "");
                        $(".layout-wrapper").css("opacity", 1);
                    }
                });
            }


            function ValidationCheck(com) {
                com.find(".vtext").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if ($(this).hasClass('form-select')) {
                            (($(this).find('option:selected').attr('data-code') == "0") ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                        else {
                            (($(this).val() == '') ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                    }
                });
                $(".select2-selection.select2-selection--single").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if (!$(this).find('.select2-selection__rendered').attr("title")) {
                            $(this).find('.select2-selection__rendered').children().length > 0 ? $(this).addClass('is-invalid') : $(this).addClass('is-valid')
                        }
                    }
                });
                return com.find('.vtext').hasClass('is-invalid') || $(".select2-selection.select2-selection--single").hasClass('is-invalid') ? true : false;

            }
            $('select').on('change', function (e) {
                $(this).removeClass('is-invalid').removeClass('is-valid').addClass('is-valid');
                $(this).siblings('.select2').find('.select2-selection').removeClass('is-invalid').removeClass('is-valid');

            });
            function ValidationCheckRequest() {
                $("#firstForm").find(".vtext").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if ($(this).hasClass('form-select')) {
                            (($(this).find('option:selected').attr('data-code') == "0") ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                        else {
                            (($(this).val() == '') ? $(this).addClass('is-invalid') : $(this).addClass('is-valid'));
                        }
                    }
                });
                $("#firstForm .select2-selection.select2-selection--single").each(function () {
                    if (!$(this).hasClass('is-valid') || !$(this).hasClass('is-invalid')) {
                        if (!$(this).find('.select2-selection__rendered').attr("title")) {
                            $(this).find('.select2-selection__rendered').children().length > 0 ? $(this).addClass('is-invalid') : $(this).addClass('is-valid')
                        }
                    }
                });
                // $("#firstForm").find(".vtext").each(function () {
                //     if (!$(this).hasClass('is-valid')) {
                //         if (!$(this).hasClass('is-invalid')) {
                //             $(this).addClass('is-invalid');
                //         }
                //     }
                // });
                return $("#firstForm").find('.vtext').hasClass('is-invalid') || $("#firstForm .select2-selection.select2-selection--single").hasClass('is-invalid') ? true : false;

            }

            $('#adsQty,#adsQtyBack').on('change', function () {
                var _Qty = $('#adsQty').val() == '' ? 0 : $('#adsQty').val();
                var _QtyBack = $('#adsQtyBack').val() == '' ? 0 : $('#adsQtyBack').val();
                $('#QtyUsed').val(parseFloat(_Qty - _QtyBack).toFixed(2));
            });
            $('#MaterialClear').on('click', function () {
                clearMaterial();
                    });
            if ($('#pagestatus').val() == 0) {
                clear();
                $('.tombol:not(#mainsave)').addClass('disabled');
            }
        });

    </script>
}